/* stylelint-disable no-descending-specificity */

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

a,
a:visited {
  cursor: pointer;
  text-decoration: none;
}

button,
._btn {
  cursor: pointer;
  outline: none;
}

ul li {
  list-style: none;
}

@keyframes card-animation {
  0% {
    height: 0;
    opacity: 0;
  }

  100% {
    height: auto;
    opacity: 1;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #000;
} */

/* .wrapper {
  overflow: hidden;

  width: 100vw;
  max-width: 100%;
  min-height: 100vh;

  background-color: #f1f1f1;
} */

/* .container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
} */

/* ._hover01:hover {
  background-color: #33399b;
}

._hover02:hover,
.header__user:hover {
  color: #33399b;
}

._hover02:hover::after,
.header__user:hover::after {
  border-bottom-color: #33399b;
  border-left-color: #33399b;
}

._hover03:hover {
  color: #fff;
  background-color: #33399b;
}

._hover03:hover a {
  color: #fff;
} */

.pop-user-set:target,
.pop-exit:target,
.pop-new-card:target,
.pop-browse:target {
  display: block;
}

/* ._orange {
  color: #ff6d00;
  background-color: #ffe4c2;
}

._green {
  color: #06b16e;
  background-color: #b4fdd1;
}

._purple {
  color: #9a48f1;
  background-color: #e9d4ff;
}

._gray {
  color: #fff;
  background: #94a6be;
}

._active-category {
  opacity: 1 !important;
} */

.pop-wrap {
  position: relative;
  top: 0;
  left: 0;
}

/* .pop-exit {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 100vh;
} */

/* .pop-exit__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 0 16px;

  background: rgb(0 0 0 / 40%);
} */

/* .pop-exit__block {
  display: block;

  width: 100%;
  max-width: 370px;
  margin: 0 auto;
  padding: 50px 60px;

  background-color: #fff;
  border: 0.7px solid #d4dbe5;
  border-radius: 10px;
  box-shadow: 0 4px 67px -12px rgb(0 0 0 / 13%);
} */

/* .pop-exit__ttl h2 {
  margin-bottom: 20px;

  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.4px;
} */

/* .pop-exit__exit-yes {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 153px;
  height: 30px;
  margin-right: 10px;

  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #fff;
  letter-spacing: -0.14px;

  background-color: #565eef;
  border: none;
  border-radius: 4px;
  outline: none;
}

.pop-exit__exit-yes a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  color: #fff;
} */

/* .pop-exit__exit-no {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 153px;
  height: 30px;

  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #fff;
  letter-spacing: -0.14px;

  background-color: transparent;
  border: 0.7px solid var(--palette-navy-60, #565eef);
  border-radius: 4px;
  outline: none;
}

.pop-exit__exit-no a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  color: #565eef;
} */

/* .pop-exit__form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
} */

/* .pop-user-set__name {
  margin-bottom: 4px;

  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #000;
  letter-spacing: -0.14px;
} */

/* .pop-user-set__mail {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 21px;
  color: #94a6be;
  letter-spacing: -0.14px;
}

.pop-user-set__theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.pop-user-set__theme p {
  font-size: 14px;
  line-height: 21px;
  color: #000;
  letter-spacing: -0.14px;
}

.pop-user-set__theme input[type='checkbox'] {
  position: relative;

  width: 24px;
  height: 13px;

  appearance: none;
  background: #eaeef6;
  border-radius: 100px;
  outline: none;
}

.pop-user-set__theme input[type='checkbox']::before {
  content: '';

  position: absolute;
  top: 1px;
  left: 1px;

  width: 11px;
  height: 11px;

  background-color: #94a6be;
  border-radius: 50%;

  transition: 0.5s;
}

.pop-user-set__theme input:checked[type='checkbox']::before {
  left: 12px;
} */

/* .pop-user-set button {
  width: 72px;
  height: 30px;

  color: #565eef;

  background: transparent;
  border: 1px solid #565eef;
  border-radius: 4px;
}

.pop-user-set button a {
  color: #565eef;
} */

/* .pop-new-card {
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  min-width: 375px;
  height: 100%;
  min-height: 100vh;
} */

/* .pop-new-card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 0 16px;

  background: rgb(0 0 0 / 40%);
}
 */

/* .pop-new-card__block {
  position: relative;

  display: block;

  width: 100%;
  max-width: 630px;
  margin: 0 auto;
  padding: 40px 30px 48px;

  background-color: #fff;
  border: 0.7px solid #d4dbe5;
  border-radius: 10px;
} */

/* .pop-new-card__content {
  display: block;
  text-align: left;
} */

/* .pop-new-card__ttl {
  margin-bottom: 20px;

  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #000;
}
 */

/* .pop-new-card__close {
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 30px;

  color: #94a6be;
}

.pop-new-card__close:hover {
  color: #000;
} */

/* .pop-new-card__wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
} */

/* .pop-new-card__form {
  display: block;
  width: 100%;
  max-width: 370px;
  margin-bottom: 20px;
} */

/* .form-new__block {
  display: flex;
  flex-direction: column;
} */

/* .form-new__input,
.form-new__area {
  width: 100%;
  padding: 14px;

  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.14px;

  background: transparent;
  border: 0.7px solid rgb(148 166 190 / 40%);
  border-radius: 8px;
  outline: none;
}

.form-new__input::placeholder,
.form-new__area::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1px;
  color: #94a6be;
  letter-spacing: -0.14px;
}

.form-new__input {
  margin: 20px 0;
}

.form-new__area {
  max-width: 370px;
  height: 200px;
  margin-top: 14px;
} */

/* .form-new__create {
  float: right;

  width: 132px;
  height: 30px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #fff;

  background-color: #565eef;
  border: 0;
  border-radius: 4px;
  outline: none;
} */

/* .subttl {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: #000;
} */

/* .calendar {
  width: 182px;
  margin-bottom: 20px;
}

.calendar__ttl {
  margin-bottom: 14px;
  padding: 0 7px;
} */

.calendar__p {
  font-size: 10px;
  line-height: 1;
  color: #94a6be;
}

.calendar__p span {
  color: #000;
}

/* .calendar__block {
  display: block;
}

.calendar__month {
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  color: #94a6be;
} */

/* .calendar__content {
  margin-bottom: 12px;
} */

/* .calendar__days-names {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  margin: 7px 0;
  padding: 0 7px;
}

.calendar__day-name {
  font-size: 10px;
  font-weight: 500;
  line-height: normal;
  color: #94a6be;
  letter-spacing: -0.2px;
} */

/* .calendar__cells {
  display: flex;
  flex-wrap: wrap;
  width: 182px;
  height: 126px;
}

.calendar__cell {
  cursor: pointer;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  width: 22px;
  height: 22px;
  margin: 2px;

  font-size: 10px;
  line-height: 1;
  color: #94a6be;
  letter-spacing: -0.2px;

  border-radius: 50%;
} */

/* .calendar__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-top: 14px;
  padding: 0 7px;
} */

/* .calendar__period {
  padding: 0 7px;
}

.nav__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__action {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 25px;
}

.nav__action svg {
  fill: #94a6be; 
} */

/* ._other-month {
  opacity: 0;
} */

/* ._cell-day:hover {
  color: #94a6be;
  background-color: #eaeef6;
} */

/* ._active-day {
  color: #fff;
  background-color: #94a6be;
} */

._current {
  font-weight: 700;
}

/* .categories {
  margin-bottom: 20px;
}

.categories__themes {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.categories__p {
  margin-bottom: 14px;
} */

/* .categories__theme {
  display: inline-block;

  width: auto;
  height: 30px;
  margin-right: 7px;
  padding: 8px 20px;

  opacity: 0.4;
  border-radius: 24px;
} */

/* .categories__theme p {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  white-space: nowrap;
} */

/* .pop-browse {
  position: absolute;
  z-index: 7;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  min-width: 375px;
  height: 100%;
  min-height: 100vh;
} */

.pop-browse__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 0 16px;

  background: rgb(0 0 0 / 40%);
}

/* .pop-browse__block {
  position: relative;

  display: block;

  width: 100%;
  max-width: 630px;
  margin: 0 auto;
  padding: 40px 30px 38px;

  background-color: #fff;
  border: 0.7px solid #d4dbe5;
  border-radius: 10px;
} */

/* .pop-browse__content {
  display: block;
  text-align: left;
} */

.pop-browse__content .categories__theme {
  opacity: 1;
}

.pop-browse__content .theme-down {
  display: none;
  margin-bottom: 20px;
}

.pop-browse__content .theme-top {
  display: block;
}

/* .pop-browse__top-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
} */

/* .pop-browse__ttl {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #000;
} */

/* .pop-browse__wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
} */

/* .pop-browse__form {
  display: block;
  width: 100%;
  max-width: 370px;
  margin-bottom: 20px;
} */

.pop-browse__btn-browse,
.pop-browse__btn-edit {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

/* .pop-browse__btn-browse button,
.pop-browse__btn-edit button {
  height: 30px;
  margin-bottom: 10px;
  padding: 0 14px;
}

.pop-browse__btn-browse .btn-group button,
.pop-browse__btn-edit .btn-group button {
  margin-right: 8px;
} */

/* .form-browse__block {
  display: flex;
  flex-direction: column;
} */

/* .form-browse__area {
  width: 100%;
  max-width: 370px;
  height: 200px;
  margin-top: 14px;
  padding: 14px;

  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.14px;

  background: #eaeef6;
  border: 0.7px solid rgb(148 166 190 / 40%);
  border-radius: 8px;
  outline: none;
} */

/* .form-browse__area::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1px;
  color: #94a6be;
  letter-spacing: -0.14px;
} */

/* .status {
  margin-bottom: 11px;
} */

/* .status__p {
  margin-bottom: 14px;
} */

/* .status__themes {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
} */

/* .status__theme {
  margin-right: 7px;
  margin-bottom: 7px;
  padding: 11px 14px 10px;

  color: #94a6be;

  border: 0.7px solid rgb(148 166 190 / 40%);
  border-radius: 24px;
} */

/* .status__theme p {
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.14px;
} */

/* ._btn-bor {
  color: #565eef;

  background: transparent;
  border: 0.7px solid var(--palette-navy-60, #565eef);
  border-radius: 4px;
  outline: none;
}

._btn-bor a {
  color: #565eef;
}

._btn-bg {
  color: #fff;

  background: #565eef;
  border: none;
  border-radius: 4px;
  outline: none;
}

._btn-bg a {
  color: #fff;
} */

/* ._hide {
  display: none;
} */

._dark {
  display: none;
}

/* .header {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
} */

/* .header__block {
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  height: 70px;
  padding: 0 10px;
} */

/* .header__nav {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 290px;
  padding: 0;
}

.header__btn-main-new {
  width: 178px;
  height: 30px;
  margin-right: 20px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #fff;

  background-color: #565eef;
  border: none;
  border-radius: 4px;
}

.header__btn-main-new a {
  color: #fff;
} */

/* .header__user {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  height: 20px;

  font-size: 14px;
  line-height: 20px;
  color: #565eef;
} */

/* .header__user::after {
  content: '';

  transform: rotate(-45deg);

  display: block;

  width: 6px;
  height: 6px;
  margin: -6px 0 0 5px;
  padding: 0;

  border-bottom: 1.9px solid #565eef;
  border-left: 1.9px solid #565eef;
  border-radius: 1px;
} */

/* .header__pop-user-set {
  position: absolute;
  z-index: 2;
  top: 61px;
  right: 0;

  display: block;

  width: 213px;
  height: 205px;
  padding: 34px;

  text-align: center;

  background: #fff;
  border: 0.7px solid rgb(148 166 190 / 40%);
  border-radius: 10px;
  box-shadow: 0 10px 39px 0 rgb(26 56 101 / 21%);
} */

/* .main {
  width: 100%;
  background-color: #eaeef6;
} */

/* .main__block {
  width: 100%;
  margin: 0 auto;
  padding: 25px 0 49px;
} */

/* .main__content {
  display: flex;
  width: 100%;
} */

/* .main__column {
  display: block;
  width: 20%;
  margin: 0 auto;
} */

/* .column__title {
  margin: 15px 0;
  padding: 0 10px;
} */

/* .column__title p {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: #94a6be;
  text-transform: uppercase;
} */

/* .cards {
  position: relative;
  display: block;
  width: 100%;
} */

/* .cards__item {
  padding: 5px;
  animation-name: card-animation;
  animation-duration: 500ms;
  animation-timing-function: linear;
} */

/* .cards__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;

  width: 220px;
  height: 130px;
  padding: 15px 13px 19px;

  background-color: #fff;
  border-radius: 10px;
} */

/* .card__group {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 20px;
  margin-bottom: 12px;
} */

/* .card__theme {
  width: auto;
  height: 20px;
  padding: 5px 14px;
  border-radius: 18px;
}

.card__theme p {
  font-size: 10px;
  font-weight: 600;
  line-height: 10px;
} */

/* .card__btn {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 24px;
  height: 24px;
  padding: 2px;
} */

/* .card__btn div {
  width: 4px;
  height: 4px;
  background-color: #94a6be;
  border-radius: 50%;
} */

/* .card__title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #000;
} */

/* .card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  height: 64px;
} */

/* .card__date {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card__date svg {
  width: 13px;
}

.card__date p {
  margin-left: 6px;

  font-size: 10px;
  line-height: 13px;
  color: #94a6be;
  letter-spacing: 0.2px;
}
 */
@media screen and (width <= 1200px) {
  /* .main__block {
    width: 100%;
    margin: 0 auto;
    padding: 40px 0 64px;
  }

  .main__content {
    display: block;
  }

  .main__column {
    display: block;
    width: 100%;
    margin: 0 auto;
  } */

  /* .cards {
    overflow-y: auto;
    display: flex;
    width: 100%;
  } */

  /* .cards__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;

    width: 220px;
    height: 130px;
    padding: 15px 13px 19px;

    background-color: #fff;
    border-radius: 10px;
  } */
}

@media screen and (width <= 660px) {
  .pop-new-card {
    top: 70px;
  }

  .pop-new-card__container {
    justify-content: flex-start;
    padding: 0;
  }

  .pop-new-card__block {
    border-radius: 0;
  }

  .pop-new-card__wrap {
    display: block;
  }

  /* .calendar {
    width: 100%;
    max-width: 340px;
  } */

  .calendar__ttl,
  .calendar__nav,
  .calendar__period {
    padding: 0;
  }

  .calendar .date-create {
    display: none;
    margin-bottom: 7px;
  }

  .calendar__p {
    font-size: 14px;
  }

  .calendar__day-name {
    font-size: 14px;
  }

  .calendar__cells {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 344px;
    height: auto;
  }

  .calendar__cell {
    width: 42px;
    height: 42px;
    font-size: 14px;
  }

  .pop-browse {
    top: 70px;
  }

  .pop-browse__container {
    justify-content: flex-start;
    padding: 0;
  }

  .pop-browse__block {
    border-radius: 0;
  }

  .pop-browse__wrap {
    display: block;
  }
}

@media screen and (width <= 495px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }

  .header__btn-main-new {
    position: fixed;
    z-index: 3;
    top: auto;
    bottom: 30px;
    left: 16px;

    width: calc(100vw - 32px);
    height: 40px;
    margin-right: 0;

    border-radius: 4px;
  }

  .pop-new-card__container {
    justify-content: flex-start;
    padding: 0;
  }

  .pop-new-card__block {
    padding: 20px 16px 32px;
  }

  .pop-new-card__form {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  .pop-new-card__calendar {
    width: 100%;
  }

  .form-new__area {
    max-width: 100%;
    height: 34px;
  }

  .form-new__create {
    width: 100%;
    height: 40px;
  }

  .pop-browse__block {
    padding: 20px 16px 32px;
  }

  .pop-browse__content .theme-down {
    display: block;
    margin-bottom: 20px;
  }

  .pop-browse__content .theme-top {
    display: none;
  }

  .pop-browse__form {
    max-width: 100%;
  }

  .pop-browse__calendar {
    width: 100%;
  }

  .pop-browse__btn-browse button,
  .pop-browse__btn-edit button {
    width: 100%;
    height: 40px;
  }

  .pop-browse__btn-browse .btn-group,
  .pop-browse__btn-edit .btn-group {
    width: 100%;
  }

  .pop-browse__btn-browse .btn-group button,
  .pop-browse__btn-edit .btn-group button {
    margin-right: 0;
  }

  .form-browse__area {
    max-width: 100%;
    height: 37px;
  }
}

@media only screen and (width <= 375px) {
  .pop-exit__block {
    padding: 50px 20px;
  }

  .pop-exit__exit-yes {
    width: 100%;
    height: 40px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .pop-exit__exit-no {
    width: 100%;
    height: 40px;
  }

  .pop-exit__form-group {
    display: block;
  }
}
